<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Informasi Layanan Haji dan Umrah</title>

    <!-- CSS -->
 
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="daftar" style="">
                        <ul>
                            <li><a href="#">Daftar Online</a></li>
                        </ul>
                    </div>

                    <div class="login">
                        <ul>
                            <li><i class="glyphicon glyphicon-search"></i></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#"><img src="/img/ind.png"></a></li>
                            <li><a href="#"><img src="/img/eng.png"></a></li>
                        </ul>
                    </div>

                    <nav class=" navbar-default" role="navigation">
                        <div class="col-md-3">
                            <a href="/"><img src="/img/logo.png" width="250px" style="margin-top:20px;"></a>
                        </div>
                        <div class="col-md-9">

                            

                            <div class="navbar-header">

                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                                </button> 
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav"> 
                                    <li class="active"><a href="#"><img src="/img/home.png"> <span class="sr-only">(current)</span></a></li>
                                    <li class="dropdown">
                                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="/tentang_kami">Tentang Kami</a>
                                            </li>
                                            <li>
                                                <a href="/manajemen">Manajemen</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ibadah</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="/perjalanan_umrah">Ibadah Umrah</a>
                                            </li>
                                            <li>
                                                <a href="/perjalanan_haji">Ibadah Haji</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/promo-brosur">Promo</a></li>
                                    <li class="dropdown">
                                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">NRA TV</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="/nratv/tv-streaming">TV Streaming</a>
                                            </li>
                                            <li>
                                                <a href="/index_video">Galeri Video</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/berita/index-berita">Berita</a></li>
                                    
                                    <li><a href="/testimonial">Testimonial</a></li>
                                    <li class="dropdown">
                                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Galeri</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="/galeri_photo">Galeri Photo</a>
                                            </li>
                                            <li>
                                                <a href="/index_video">Galeri Video</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/hubungikami">Hubungi Kami</a></li>     
                                </ul>   
                            </ul> 
                        </div>
                        

                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>



{% block body %}{% endblock %}
{% block sidebar-right %}{% endblock %}


<!-- footer -->
<div class="chat-image">
                <div class="container">
                    <a href=""><img src="/img/chat.png"></a>
                </div>
            </div>
            <footer>
                <div class="about">
                    <div class="container">
                        <div class="row list-footer">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-3 ">
                                        <ul>
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">Profile</a></li>
                                            <li><a href="#">Ibadah</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <ul>
                                            <li><a href="#">Haji</a></li>
                                            <li><a href="#">Umroh</a></li>
                                            <li><a href="#">Galeri</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <ul>
                                            <li><a href="#">NRA TV</a></li>
                                            <li><a href="#">Berita</a></li>
                                            <li><a href="#">Testimonial</a></li>
                                        </ul>
                                    </div>
                                    <div class="co-md-3"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row about-right" >
                                    
                                    <h5><b>NRA Tour & Travel</b></h5>

                                    <p>Kantor Pusat: Jl. Mampang Prapatan Raya No 74E.<br>
                                        Tegal Parang - Jakarta Selatan 12790.<br>
                                        Telp. 021 798 9269 (Hunting) Fax. 021 791 969 48.<br>
                                        Website: www.nra-tour.com E-mail: nra@cbn.net.id.</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="copyright">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9">
                                    <center><h5><b>Copyright 2016 NRA Group. All right reserved.</b></h5></center>
                                </div>
                                <div class="col-md-3">
                                    <center><ul>
                                        <li><a href="#"><img src="/img/fb-icon.png"></a></li>
                                        <li><a href="#"><img src="/img/google-icon.png"></a></li>
                                        <li><a href="#"><img src="/img/twitter-icon.png"></a></li>
                                        <li><a href="#"><img src="/img/ig-icon.png"></a></li>
                                    </ul></center>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/scripts.js"></script>

</html>