	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="daftar" style="">
						<ul>
							<li><a href="#">Daftar Online</a></li>
						</ul>
					</div>

					<div class="login">
						<ul>
							<li><i class="glyphicon glyphicon-search"></i></li>
							<li><a href="#">Login</a></li>
							<li><a href="#"><img src="img/ind.png"></a></li>
							<li><a href="#"><img src="img/eng.png"></a></li>
						</ul>
					</div>

					<nav class=" navbar-default" role="navigation">
						<div class="col-md-3">
							<a href="index.html"><img src="img/logo.png" width="250px" style="margin-top:20px;"></a>
						</div>
						<div class="col-md-9">

							

							<div class="navbar-header">

								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
								</button> 
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">	
									<li class="active"><a href="#"><img src="img/home.png"> <span class="sr-only">(current)</span></a></li>
									<li class="dropdown">
										 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile</a>
										<ul class="dropdown-menu">
											<li>
												<a href="tentang_kami.html">Tentang Kami</a>
											</li>
											<li>
												<a href="manajemen.html">Manajemen</a>
											</li>
										</ul>
									</li>
									<li class="dropdown">
										 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ibadah</a>
										<ul class="dropdown-menu">
											<li>
												<a href="perjalanan_umrah.html">Ibadah Umrah</a>
											</li>
											<li>
												<a href="perjalanan_Haji.html">Ibadah Haji</a>
											</li>
										</ul>
									</li>
									<li><a href="promoBrosur.html">Promo</a></li>
									<li class="dropdown">
										 <a href="#" class="dropdown-toggle" data-toggle="dropdown">NRA TV</a>
										<ul class="dropdown-menu">
											<li>
												<a href="nratv">TV Streaming</a>
											</li>
											<li>
												<a href="index_video.html">Galeri Video</a>
											</li>
										</ul>
									</li>
									<li><a href="index_berita.html">Berita</a></li>
									
									<li><a href="testimonial.html">Testimonial</a></li>
									<li class="dropdown">
										 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Galeri</a>
										<ul class="dropdown-menu">
											<li>
												<a href="galeri_photo.html">Galeri Photo</a>
											</li>
											<li>
												<a href="index_video.html">Galeri Video</a>
											</li>
										</ul>
									</li>
									<li><a href="hubungikami.html">Hubungi Kami</a></li>		
								</ul>   
							</ul> 
						</div>
						

					</div>
				</nav>
			</div>
		</div>
	</div>
</div>