{% extends "../template/base.swig" %}
{%block body%}
<div class="tagline">
	<div class="container">
		<h3><b>Berita</b></h3>
	</div>
</div>
	
<!-- berita terbaru -->
<div class="container berita">
	<div class="row">
		<div class="col-md-8">
			<h1><b>Pemerintah Wajib Lindungi Hak Jamaah Umroh</b></h1>
			<h5>Selasa, 15 Maret 2016 | 17.06 WIB</h5>
 
			<div class="share">
				<ul>
					<li><a href="#"><img src="/img/ig.png"></a></li>
					<li><a href="#"><img src="/img/fb.png"></a></li>
					<li><a href="#"><img src="/img/twitter.png"></a></li>
					<li><a href="#"><img src="/img/gplus.png"></a></li>
				</ul>
			</div>

			<div class="berita-utama">
				<img src="/img/gambarBerita.png">
			</div>			
			
			<p>
				JAKARTA -- Ketua Komisi VIII DPR RI Saleh Partaonan Daulay mendesak dilakukannya penelusuran terhadap oknum travel yang menelantarkan jamaah umrah di Rumah Sakit Jeddah tanpa pendampingan dari pihak travel. Mulai dari kelengkapan izin sampai kepada pemilik usaha travel. 
			</p>
			<br>
			<p>
				“Apabila orang tersebut tidak memiliki izin dan berani memberangkatkan dan menelantarkan orang sakit di Saudi, kami meminta pemerintah untuk segera melaporkan pelaku kepada pihak kepolisian secara langsung dan secara proaktif,” ujar Saleh saat dihubungi Republika.co.id, Ahad (20/3).
			</p>
			<br>
			<p>
				Menurutnya, pemerintah dalam hal ini Kemenag bukan hanya bertanggungjawab membina para travel tetapi juga melindungi hak para jamah umrah. Termasuk ketika menghadapi kasus penipuan dan penelantaran. 
			</p>
			<br>
			<p>
				“Jangan tunggu jamaah yang melapor tetapi kalau perlu Kemenagyang melapor ke polisi,” tegasnya.
			</p>
			<br>
			<p>
				Saleh melihat banyaknya kasus penipuan yang muncul disebabkan karena Kemenag terlalu mudah mengelurkan izin yang menyebabkan travel umrah semakin menjamur. Sehingga, kompetisi tidak sehat antar travel pun tidak terelakkan. Akibatnya, banyak dari mereka yang menawarkan harga yang tidak rasional.
			</p>
			<br>
			<p>
				Tidak adanya hukuman yang konkrit dari negara terhadap pelaku travel nakal juga menjadi penyebab tumbuh suburnya kasus penelantaran dan penipuan jamaah. Menurut Saleh, perbuatan travel nakal ini tidak hanya cukup diganjar dengan hukum perdata yang bisa didenda dengan ganti rugi melainkan juga berkenaan dengan hukum pidana karena telah menipu masyarakat.
			</p>
			<br>
			<p>
				Selain pemerintah, kata Saleh, masyarakat juga perlu cermat dalam memilih travel umrah. Tingginya antusias untuk berumrah, sering membuat masyarakat tergiur dengan biaya murah namun abai terhadap syarat kelengkapan travel umrah yang layak pilih. 
			</p>
			
			<div id="disqus_thread"></div>
				<script>
				/**
				* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
				*/
				/*
				var disqus_config = function () {
				this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				};
				*/
				(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');

				s.src = '//nraa.disqus.com/embed.js';

				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
			

		</div>
{% endblock %}
<!-- END CONTENT -->

<!-- SIDEBAR -->
{% block sidebar-right %}
		<!-- NRA TV STREAMING -->
		<div class="col-md-4">

			<div class="daftar-berita">
				<a href="#">
					<h4><b>Berita</b></h4>
				</a>
			</div>
			<div class="row list-berita">
				<div class="col-md-4 ">
					<div class="gambar-berita">
						<img src="/img/berita1.png">
					</div>
				</div>
				<div class="col-md-8">
					<h4><b>Kemenag Cabut Izin 3 Travel Umrah</b></h4>
					<p>Selasa 15 Maret 2016</p>
					<p>17:06 WIB</p>
				</div>
			</div>
			<hr>

			<div class="row list-berita">
				<div class="col-md-4 ">
					<div class="gambar-berita">
						<img src="/img/berita2.png">
					</div>
				</div>
				<div class="col-md-8">
					<h4><b>80.000 Muslim Mesir Umroh di Tahun 2015</b></h4>
					<p>Selasa 15 Maret 2016</p>
					<p>17:06 WIB</p>
				</div>
			</div>
			<hr>
			
			<div class="row list-berita">
				<div class="col-md-4 ">
					<div class="gambar-berita">
						<img src="/img/berita3.png">
					</div>
				</div>
				<div class="col-md-8">
					<h4><b>Isu Pasien Papua terjangkit Virus Mers</b></h4>
					<p>Selasa 15 Maret 2016</p>
					<p>17:06 WIB</p>
				</div>
			</div>

			<div class="separator">
			</div>

			<div class="judul">
				<h4>NRA TV STREAMING</h4>
			</div>
			<div class="video">
				<img src="/img/3.png">
			</div>
			<div class="list-video">
				<div class="row">
					<div class="col-md-6">
						<img src="/img/4.png">
					</div>
					<div class="col-md-6">
						<h4><b>TAUSYAH CINTA</b></h4>
						<p>film TAUSYAH CINTA merupakan film Indonesia yang di sutradarai oleh</p>
					</div>
				</div>

			</div>

			<div class="list-video separator-video">
				<div class="row">
					<div class="col-md-6">
						<img src="/img/5.png">
					</div>
					<div class="col-md-6">
						<h4><b>Haji Bareng NRA</b></h4>
						<p>Serunya haji bareng NRA tahun ini. Dengan harga yang cukup</p>
					</div>
				</div>
				
			</div>
		
			<div class="twitter">
				<img src="/img/6.png" width="100%;">
			</div>

			<div class="daftar-berita">
				<a href="#">
					<h4><b>Testimonial</b></h4>
				</a>
			</div>
			<div class="testimoni">
				<p>Alhamdulillah, saya dan mama saya pulang umroh 26 Agustus 2010. Seluruh staf
				dan pembimbing sangat profesional. Perjalanan umroh kami berjalan dengan lancar.
				Satu hal yang membuat kami terkesan adalah ustadz pembimbing yang dengan begitu
				telaten selalu mengingatkan kita tentang jadwal sholat sehingga kita tidak pernah
				terlewatkan untuk sholat di mesjid, baik di Medinah maupun di Mekah. Kami Ucapkan
				Terimakasih Banyak.</p>
				<p><b>Ratnasari Nurhayati Yusuf</b></p>
			</div>

			<div class="informasi">
				<p>Dapatkan informasi terkini dan penawaran eksklusif dari NRA Group Tour & Travel</p>
				<div class="row">
				<form>
					<div class="col-md-6">
						<input class="form-control input" type="email" name="email" placeholder="Alamat Email...">
					</div>
					<div class="col-md-6">
						<div class="daftar-button">
							<a href="#">Daftar</a>
						</div>
					</div>			
				</form>
				</div>
			</div> <!-- end informasi -->
			
		</div> <!-- end daftar video -->
	</div>
</div> <!-- end container berita -->
{% endblock %}
<!-- END SIDEBAR -->
