{% extends "../template/base.swig" %}
{%block body%}
<div class="tagline">
	<div class="container">
		<div class="color-breadcrumb">
			<ol class="breadcrumb">
	  			<li><a href="#">ID</a></li>
	  			<li><a href="#">Berita</a></li>
	  			<li class="active">Index Berita</li>
			</ol>
		</div>
		<h3><b>Berita</b></h3>
	</div>
</div>
	
<!-- berita terbaru -->
<div class="container berita ">
	<div class="row ">
		<div class="col-md-8 ">
			<div class="row">
				<div class="col-md-4">
					<img src="/img/berita1.png" width="100%">
				</div>
				<div class="col-md-8 index-berita">
					<h5>Selasa 15 Maret 2016 | 17.06 WIB</h5>
					<a href="/berita/baca"><h2>Pemerintah Wajib Lindungi Hak Jamaah Umroh</h2></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco </p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src="/img/berita2.png" width="100%">
				</div>
				<div class="col-md-8 index-berita">
					<h5>Selasa 15 Maret 2016 | 17.06 WIB</h5>
					<a href="/berita/baca"><h2>Asosiasi Turut Bertanggung Jawab Awasi Tracvel Umroh</h2></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco </p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4"> 
					<img src="/img/berita3.png" width="100%">
				</div>
				<div class="col-md-8 index-berita">
					<h5>Selasa 15 Maret 2016 | 17.06 WIB</h5>
					<a href="/berita/baca"><h2>Banyak Laporan Penipuan Calon Jamaah Umroh Ke Komisi VIII</h2></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco </p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src="/img/berita1.png" width="100%">
				</div>
				<div class="col-md-8 index-berita">
					<h5>Selasa 15 Maret 2016 | 17.06 WIB</h5>
					<a href="/berita/baca"><h2>Makkah Itu Hatinya 'Muslim Jawah'</h2></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco </p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src="/img/berita2.png" width="100%">
				</div>
				<div class="col-md-8 index-berita">
					<h5>Selasa 15 Maret 2016 | 17.06 WIB</h5>
					<a href="/berita/baca"><h2>Beberapa Modus Penipuan Travel Umroh Bodong</h2></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco </p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src="/img/berita3.png" width="100%">
				</div>
				<div class="col-md-8 index-berita">
					<h5>Selasa 15 Maret 2016 | 17.06 WIB</h5>
					<a href="/berita/baca"><h2>Penipuan Haji dan Umroh Sasar Semua Kalangan</h2></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco </p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src="/img/berita1.png" width="100%">
				</div>
				<div class="col-md-8 index-berita">
					<h5>Selasa 15 Maret 2016 | 17.06 WIB</h5>
					<a href="/berita/baca"><h2>Riwayat Ulama Betawi Jadi Imam Masjidil Haram</h2></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco </p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src="/img/berita2.png" width="100%">
				</div>
				<div class="col-md-8 index-berita">
					<h5>Selasa 15 Maret 2016 | 17.06 WIB</h5>
					<a href="/berita/baca"><h2>Jemaah Makasar Gunting Kiswah Kabah Untuk Jimat Pesugihan</h2></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco </p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src="/img/berita3.png" width="100%">
				</div>
				<div class="col-md-8 index-berita">
					<h5>Selasa 15 Maret 2016 | 17.06 WIB</h5>
					<a href="/berita/baca"><h2>Cara PPIH Arab Saudi Cegah Jamaah Haji Tersesat</h2></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco </p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src="/img/berita1.png" width="100%">
				</div>
				<div class="col-md-8 index-berita">
					<h5>Selasa 15 Maret 2016 | 17.06 WIB</h5>
					<a href="/berita/baca"><h2>Ini Hotline Kemenag RI terkait Tragedi di Mina</h2></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco </p>
				</div>
			</div>
			<hr>

			<div class="row">
				<center><nav>
				  <ul class="pagination">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    	</li>
				    	<li><a href="#">1</a></li>
				    	<li><a href="#">2</a></li>
				    	<li><a href="#">3</a></li>
				    	<li><a href="#">4</a></li>
				    	<li><a href="#">5</a></li>
				    	<li><a href="#">6</a></li>
				    	<li><a href="#">7</a></li>
				    	<li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav></center>
			</div>
			

		</div>
{% endblock %}
<!-- END CONTENT -->

<!-- SIDEBAR -->
{% block sidebar-right %}
		<!-- NRA TV STREAMING -->
		<div class="col-md-4">

			<div class="judul">
				<h4>NRA TV STREAMING</h4>
			</div>
			<div class="video">
				<img src="/img/3.png">
			</div>
			<div class="list-video">
				<div class="row">
					<div class="col-md-6">
						<img src="/img/4.png" width="100%">
					</div>
					<div class="col-md-6">
						<h4><b>TAUSYAH CINTA</b></h4>
						<p>film TAUSYAH CINTA merupakan film Indonesia yang di sutradarai oleh</p>
					</div>
				</div>

			</div>

			<div class="list-video separator-video">
				<div class="row">
					<div class="col-md-6">
						<img src="/img/5.png" width="100%">
					</div>
					<div class="col-md-6">
						<h4><b>Haji Bareng NRA</b></h4>
						<p>Serunya haji bareng NRA tahun ini. Dengan harga yang cukup</p>
					</div>
				</div>
				
			</div>
		
			<div class="twitter">
				<img src="/img/6.png" width="100%;">
			</div>

			<div class="daftar-berita">
				<a href="#">
					<h4><b>Testimonial</b></h4>
				</a>
			</div>
			<div class="testimoni">
				<p>Alhamdulillah, saya dan mama saya pulang umroh 26 Agustus 2010. Seluruh staf
				dan pembimbing sangat profesional. Perjalanan umroh kami berjalan dengan lancar.
				Satu hal yang membuat kami terkesan adalah ustadz pembimbing yang dengan begitu
				telaten selalu mengingatkan kita tentang jadwal sholat sehingga kita tidak pernah
				terlewatkan untuk sholat di mesjid, baik di Medinah maupun di Mekah. Kami Ucapkan
				Terimakasih Banyak.</p>
				<p><b>Ratnasari Nurhayati Yusuf</b></p>
			</div>

			<div class="informasi">
				<p>Dapatkan informasi terkini dan penawaran eksklusif dari NRA Group Tour & Travel</p>
				<div class="row">
				<form>
					<div class="col-md-6">
						<input class="form-control input" type="email" name="email" placeholder="Alamat Email...">
					</div>
					<div class="col-md-6">
						<div class="daftar-button">
							<a href="#">Daftar</a>
						</div>
					</div>			
				</form>
				</div>
			</div> <!-- end informasi -->
			
		</div> <!-- end daftar video -->
	</div>
</div> <!-- end container berita -->
{% endblock %}
<!-- END CONTENT -->